


  .grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  .justify-left {
    justify-content: left;
  }