.search-results-table-wrapper {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 110px 110px 130px 130px 320px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;

}

.clickable {
  cursor: pointer;
}